<a href="https://colab.research.google.com/github/istiaq27/python-basic-code-example-with-exception/blob/main/Data_Type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATA TYPES**

Data Type represent the type of data present inside a variable.

Python contains the following inbuilt data types



*  INT
*  FLOAT
*  BOOL
*  STR
*  BYTES
*  BYTEARRAY
*  COMPLEX
*  LIST
*  TUPPLE
*  SET
*  FROZENSET
*  DICT
*  RANGE
*  NONE

# **SOME INBUILT FUNCTION EXAMPLE**

In [ ]:
type(56)

In [ ]:
type(True)

In [ ]:
type(3+3j)

In [ ]:
type([4,5,7])

In [ ]:
type((4,5,6))

In [ ]:
type(range(4))

In [ ]:
type(set('khalid'))

In [ ]:
type(set([1,2,'ash',3]))

In [ ]:
type({1,3,4})

In [ ]:
set1 = set(["Geeks", "For", "Geeks", "For"])

In [ ]:
type(set1)

In [ ]:
type(b'(1,2,3)')

In [ ]:
type(bytes([1,2]))

In [ ]:
type(bytearray(4))

In [ ]:
type(None)

**id()---**
**to get address of object**

In [ ]:
 a = 12
 b =12

In [ ]:
id(a)

In [ ]:
#same as a
id(b)

# **int data type**



*   **Decimal** (Base 10 ----- 0 to 9 ----- eg, a = 5)
*   **Hexa Decimal** (Base 16 ----- 0 to 9, a to f ----- eg, a = 0xeb83, b = 0X8cdf) ----> Literal value should be prefixed with 0x or 0X
*   **Binary** (Base 2 ----- 0 & 1 ----- eg, a = 0b11, b = 0B11) ----> Literal value should be prefixed with 0b or 0B.
*   **Octal** (Base 8 ----- 0 to 7 ----- eg, a =0o123, b = 0O345) ----> Literal value should be prefixed with 0o or 0O.


** **PVM will always provide values only in decimal form.**

**Type Conversion**

In [ ]:
# By default is will print Decimal Value
0x1234

4660

In [ ]:
bin(7)

'0b111'

In [ ]:
hex(15)

'0xf'

In [ ]:
oct(8)

'0o10'

In [ ]:
#both a & b holds same value but different id
a = 2e3
b = 2000.0

In [ ]:
a

2000.0

# **Complex data type**

* In the real part if we use int value then we can specify that either by decimal,octal,binary
or hexa decimal form.
* But imaginary part should be specified only by using decimal form.

In [ ]:
# Both real and imaginary part are decimal
c = 4+3j

In [ ]:
c

* **real and imag are used to retrieve the real and imaginary part**
* **We can use complex type generally in scientific Applications and electrical engineering
Applications.**

In [ ]:
c.real

In [ ]:
c.imag

In [ ]:
# real part binary
# imaginary part decimal
a = 0b100+3j

In [ ]:
a

In [ ]:
type(a)

In [ ]:
# real part decimal
# imaginary part except decimal
a = 4+ 0b111j

# **bool data type:**

In [ ]:
a = True

In [ ]:
type(a)

In [ ]:
True + True

In [ ]:
False - True

# **str data type**

In [ ]:
str1 = 'ash'

In [ ]:
type(str1)

In [ ]:
str2 = '''hello 
python
what's 
up'''

In [ ]:
type(str2)

In [ ]:
str3 = 'a'

In [ ]:
type(str3)

# **bytes data type**

* bytes data type represens a group of byte numbers just like an array.
* The only allowed values for byte data type are 0 to 256. 
* By mistake if we are trying to provide any other values then we will get value error.

In [ ]:
list1 = [1,2,3,4]

In [ ]:
byte1 = bytes(list1)

In [ ]:
type(byte1)

In [ ]:
byte1[0]

In [ ]:
byte1[:]

In [ ]:
for b in byte1:
  print(b)

Once we creates bytes data type value, we cannot change its values,otherwise we will get
TypeError.

In [ ]:
#'bytes' object does not support item assignment
byte1[0] =111

The only allowed values for byte data type are 0 to 256.

In [ ]:
#bytes must be in range(0, 256)
byte2 = bytes([1,2,3,260])

# **bytearray data type**

bytearray is exactly same as bytes data type except that its elements can be modified.

In [ ]:
bytearray1 = bytearray([1,2,3,4])

In [ ]:
type(bytearray1)

In [ ]:
bytearray1[:]

In [ ]:
bytearray1[2]

In [ ]:
# its elements can be modified
bytearray1[0] = 111

In [ ]:
for ba in bytearray1:
  print(ba)

In [ ]:
#bytearray must be in range(0, 256) like bytes data type
bytearray2 = bytearray([1,2,257])

# **list data type**

List is a collection data type. It allows multiple values to be stored within the same field. In Table Design, you must configure the List data type with all the values that the field stores.

1. insertion order is preserved
2. heterogeneous objects are allowed
3. duplicates are allowed
4. Growable in nature
5. values should be enclosed within square brackets.

In [ ]:
#heterogeneous objects are allowed
l = [1,1.3, 'ash',  True]

In [ ]:
type(l)

In [ ]:
l[3]

In [ ]:
for li in l:
  print(li)

In [ ]:
l[0::3] = [444, 'hash']

In [ ]:
for li in l:
  print(li)

In [ ]:
#change value using zip
target = [333,555]
pos = [1,2]
for x,y in zip(pos, target):
  l[x] = y

In [ ]:
l

append

In [ ]:
l.append('mash')

In [ ]:
l

[444, 333, 555, 'hash', 'mash']

remove

In [ ]:
l.remove(333)

In [ ]:
l

Multiplication

In [ ]:
l2 = l*3

In [ ]:
l2

# **tuple data type**

* Tuple data type is exactly same as list data type except that it is immutable.i.e we cannot chage values.
* Tuple elements can be represented within parenthesis.

In [ ]:
t1 = (1,2,3,4)

In [ ]:
type(t1)

In [ ]:
for t in t1:
  print(t)

In [ ]:
t2 = t1*2

In [ ]:
t2

In [ ]:
#'tuple' object does not support item assignment
t1[0] = 666

In [ ]:
#'tuple' object has no attribute 'append'
t1.append('assss')

In [ ]:
#'tuple' object has no attribute 'remove
t1.remove(3)

# **range Data Type**

* Range Data Type represents a sequence of numbers.
* The elements present in range Data type are not modifiable. i.e range Data type is immutable.

* Type-1: range(20)
* generate numbers from 0 to 19

In [ ]:
r1 = range(20)

In [ ]:
type(r1)

range

In [ ]:
for i in r1:
  print(i)

* Type-2: 
* range(5,9)

In [ ]:
r2 = range(5,9)

In [ ]:
for i in r2:
  print(i)

* Type -3:
* range(5,15,2)

In [ ]:
r3 = range(5,15,2)

In [ ]:
for i in r3:
  print(i)

**We can access elements present in the range Data Type by using index.**

In [ ]:
r3[3]

In [ ]:
r3[:]

In [ ]:
r3[-1]

In [ ]:
#We cannot modify the values of range data type
r3[2]=44

In [ ]:
#We can create a list of values with range data type
l = list(r3)

# **set data type:**

If we want to represent a group of values without duplicates where order is not important
then we should go for set Data Type.

1. insertion order is not preserved
2. duplicates are not allowed
3. heterogeneous objects are allowed
4. index concept is not applicable
5. It is mutable collection
6. Growable in nature

In [ ]:
s1 = {1,2,1.44, 'ash',2}

In [ ]:
s1

In [ ]:
type(s1)

In [ ]:
s1.add(555)

In [ ]:
s1

In [ ]:
s1.remove(555)

In [ ]:
s1

In [ ]:
l = list(s1)

In [ ]:
l

In [ ]:
#'set' object does not support indexing
s1[2]

In [ ]:
#unsupported operand type(s) for *: 'set' and 'int
s2 = s1*3

In [ ]:
#'set' object does not support item assignment
s1[2] = 4