<a href="https://colab.research.google.com/github/istiaq27/Python-exercise-with-exception/blob/main/Condition%20and%20Loop/8.%20find%20number.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#  Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700

In [12]:
num = []
for number in range(1500,2700):
    if (number%7==0) & (number%5==0):
        num.append(str(number))
print(','.join(num))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695
35